
    <article class="content">
        <%= form_with(model: @twitter,scope: :twitter_db,method: :patch, local: true , url: twitter_db_path, html: { class: 'input-form'}) do |form| %>
        <div class="twitter_text">
        <%= form.text_area :content ,class: 'form_textarea' %>

        </div>
        <%= form.submit %>
        <% end %>    
    </article>




