// Place all the styles related to the twitter_dbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li{
  list-style: none;
}

.header{
  background-color: #5ACFF9;
  height: 50px;
  font-size: 0.8rem;
}

.header ul{
  display: table;
  table-layout: fixed;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header li{
  text-decoration: none;
  height: 44px;
  display: table-cell;
  display: block;
  float: left;
  width: 18%;
}

.header li:hover{
  border: groove;
  border-width: 3px;
  border-color: #5ACFF9;
}

.header li a{
  text-decoration: none;
  display: block;
}

.top_menu_left{
  width: 45%;
  float: left;
}

.top_menu_right{
  width: 45%;
  float: right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.side_menu_left{
  width: 300px;
  float: left;
}

.side_menu_right{
  width: 300px;
  float: right;
}

.side_menu_left_acount{
  border: double;
  border-color: #5ACFF9;
  height: 18rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile_image{
  margin-top: 10px;
  margin-left: 10px;
}

.side_menu_left ul{
  list-style: none;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

.side_menu_left li{
  border: double;
  border-color: #5ACFF9;
  height: 20rem;
  margin-bottom: 10px;
  padding: 0;
}

.side_menu_right ul{
  list-style: none;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

.side_menu_right li{
  border: double;
  border-color: #5ACFF9;
  height: 20rem;
  margin-bottom: 10px;
  padding: 0;
}

input text{
  width: 600px;
}

.content{
  width: 600px;
  margin-top: 10px;
  margin-left:20px;
  float: left;
  font-size: 1rem;
}

.content_table{
  width: 600px;
  table-layout: fixed;
}

.content_table:hover{
  background-color: #C0C0C0;
}

.content_table th{
  width: 100px;
}

.content_table td{
  width: 490px;
  padding: 0 10px;
  border: 1px solid #DDD;
  vertical-align: middle;
  word-wrap: break-word;
}

.content_table ul{
  display: table;
  table-layout: fixed;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.content_table li{
  text-decoration: none;
  height: 30px;
  width: 60px;
  display: table-cell;
  display: block;
  float: left;
}

.content_table li:hover{
  
}

.content_top {
  height: 30px;
  border-style:none!important;
}

.acount_name {
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  width: 300px!important;
  color: #0099FF;
  border-style:none!important;
}

.form_textarea{
  height: 50px;
  width: 600px;
}

